<p>
  <b>Dvd:</b>
  <%=h @torrent.dvd_id %>
</p>

<p>
  <b>Torrent:</b>
  <%=h @torrent.torrent %>
</p>

<p>
  <b>Link:</b>
  <%=h @torrent.link %>
</p>

<p>
  <b>Size:</b>
  <%=h @torrent.size %>
</p>

<p>
  <b>Category:</b>
  <%=h @torrent.category %>
</p>

<p>
  <b>Pubdate:</b>
  <%=h @torrent.pubdate %>
</p>


<br/>
** DVD flex does not support pirating movies. Torrents are provided as backups
in case that the DVD were accidentally scratched. Furthermore, DVDs are country coded.
To facilitate learning foreign languages, it is often useful to hear the movie
in the original language instead of viewing subtitles.

Please buy an authentic movie, if you really like it.<br/>

Here are some applications for opening Torrent files and downloading medias.
<ul>
  <li><a href="http://www.vuze.com/Download.html">http://www.vuze.com/Download.html</a></li>
  <li><a href="http://www.bittorrent.com/">http://www.bittorrent.com/<a></a></li>
  <li><a href="http://www.utorrent.com/">http://www.utorrent.com/</a></li>
</ul>
